<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
      src="https://kit.fontawesome.com/661ac17a3d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/document.css">
  <title>Document</title>
</head>
<body>
  <div class="document-top-nav">
    <i class="fa-solid fa-file fa-xl"></i>
    <div class="document-top-nav-selection">
      <div class="document-top-nav-file">File</div>
      <div class="document-top-nav-edit">Edit</div>
      <div class="document-top-nav-view">View</div>
      <div class="document-top-nav-insert">Insert</div>
      <div class="document-top-nav-format">Format</div>
      <div class="document-top-nav-tools">Tools</div>
      <div class="document-top-nav-extensions">Extensions</div>
      <div class="document-top-nav-help">Help</div>
    </div>
  </div>
  <form action=""></form>
  <div class="document-text-area">
    <textarea name="" id="document-text-area" cols="30" rows="10"></textarea>
  </div>
</body>
</html>